force-app/main/default/flows/ResourceRequest_ALF_SubmitInfoToECAS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Created_Resource_Request_PE</name>
        <label>Add Created Resource Request PE</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varR_ResourceRequestList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ResourceRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Resource_Request_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Resource_Request_Ids</name>
        <label>Add Resource Request Ids</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_ResourceRequestIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Oppty_Resource_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Resource_Request_with_Skills</name>
        <label>Add Resource Request with Skills</label>
        <locationX>616</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>varR_ResourceRequestwithSkills</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_on_Created_Resource_Request_PE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_on_Created_Resource_Request_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Skill_on_Resource_Request_List</name>
        <label>Add Skill on Resource Request List</label>
        <locationX>704</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varT_ResourceSkillRequestList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_ResourceRequestSkillName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Resource_Request_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SkillName_on_Created_Resource_Request_PE_1</name>
        <label>Add SkillName on Created Resource Request PE 1</label>
        <locationX>616</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Loop_on_Created_Resource_Request_PE.SkillName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_ResourceRequestSkillNameList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Resource_Request_with_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Resource_Request_PE</name>
        <label>Create Resource Request PE</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.JobDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Job_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.JobGrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Job_Grade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.JobRoleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.pse__Resource_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.Nationality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Nationality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequiredStandby__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Require_Standby__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.SecurityClearance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Security_Clearance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.SkillName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To be adjusted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.TAInChargeEmplid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.WorkLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Work_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.ResourceRequestId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RevisedAssignmentStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.pse__Assignment__r.pse__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RevisedAssignmentEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.pse__Assignment__r.pse__End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequestforEmpIid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequestNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequestCreatedByEmplid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequestCreatedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequestDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Request_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequestStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.pse__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequestStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.FulfillmentMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.NCSPSA_Fulfilment_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.ProjectCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.pse__Project__r.NCSPSA_SAP_WBS_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ResourceRequest.RequestedCentreCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Oppty_Resource_Requests.pse__Practice__r.NCSPSA_SAP_Centre_Code_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Created_Resource_Request_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Resource_Skill_Request_List_to_Empty</name>
        <label>Set Resource Skill Request List to Empty</label>
        <locationX>616</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varT_ResourceSkillRequestList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_EmptyList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Resource_Request_Skills</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Check_Resource_Request_Id</name>
        <label>Check Resource Request Id</label>
        <locationX>836</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Resource_Request_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Skill</defaultConnectorLabel>
        <rules>
            <name>Resource_Request_with_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Resource_Request_Skills.pse__Resource_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Loop_on_Created_Resource_Request_PE.ResourceRequestId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Skill_on_Resource_Request_List</targetReference>
            </connector>
            <label>Resource Request with Skill</label>
        </rules>
    </decisions>
    <description>- Direct trigger from resource request
- With updated Platform Event
- Loop on Skills</description>
    <environments>Default</environments>
    <formulas>
        <name>form_DateTimeNow</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>form_ResourceRequestSkillName</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;SkillName\&quot;:\&quot;&quot; &amp; {!Loop_on_Resource_Request_Skills.pse__Skill_Certification__r.Name} &amp; &quot;\&quot;,\&quot;IsPrimary\&quot;:&quot; &amp; IF({!Loop_on_Resource_Request_Skills.pse__Is_Primary__c}, &quot;\&quot;true\&quot;}&quot;, &quot;\&quot;false\&quot;}&quot;)</expression>
    </formulas>
    <formulas>
        <name>form_ResourceRequestSkillNameList</name>
        <dataType>String</dataType>
        <expression>{!varT_ResourceSkillRequestList}</expression>
    </formulas>
    <interviewLabel>ResourceRequest_ALF_SubmitToECAS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ResourceRequest_ALF_SubmitInfoToECAS</label>
    <loops>
        <name>Copy_1_of_Loop_on_Created_Resource_Request_PE</name>
        <label>Loop on Resource Request List</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>varR_ResourceRequestList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Resource_Skill_Request_List_to_Empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Submit_Resource_Request_PE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Oppty_Resource_Requests</name>
        <label>Loop on Oppty Resource Requests</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Resource_Request_from_Oppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Resource_Request_PE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Resource_Request_Skills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Resource_Request_Skills</name>
        <label>Loop on Resource Request Skills</label>
        <locationX>616</locationX>
        <locationY>1082</locationY>
        <collectionReference>Resource_Request_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Check_Resource_Request_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_SkillName_on_Created_Resource_Request_PE_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Submit_Resource_Request_PE</name>
        <label>Submit Resource Request PE</label>
        <locationX>176</locationX>
        <locationY>1874</locationY>
        <inputReference>varR_ResourceRequestwithSkills</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Resource_Request_from_Oppty</name>
        <label>Resource Request via Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Oppty_Resource_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_ResourceRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Resource_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Resource_Request_Skills</name>
        <label>Resource Request Skills</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_on_Created_Resource_Request_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Resource_Request__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_ResourceRequestIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Resource_Skill_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resource_Request_from_Oppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_ResourceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Submit_Resource_Request__e</objectType>
    </variables>
    <variables>
        <name>varR_ResourceRequestList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Submit_Resource_Request__e</objectType>
    </variables>
    <variables>
        <name>varR_ResourceRequestwithSkills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Submit_Resource_Request__e</objectType>
    </variables>
    <variables>
        <name>varT_EmptyList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ResourceRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ResourceRequestIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ResourceSkillRequestList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
