force-app/main/default/flows/ResourceRequest_AfterUpdate_SubmitInfoToECAS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>ECAS_Conditions</name>
        <label>ECAS Conditions</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalated_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Resource_Request_to_ECAS</targetReference>
            </connector>
            <label>Escalated-Approved</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NCSPSA_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Resource_Request_to_ECAS</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Ready_for_Staffing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NCSPSA_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External Fulfilment Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Resource_Request_to_ECAS</targetReference>
            </connector>
            <label>Ready for Staffing</label>
        </rules>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NCSPSA_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request On-Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Resource_Request_to_ECAS</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ResourceRequest_AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ResourceRequest_AfterUpdate_SubmitInfoToECAS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ECAS_Conditions</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NCSPSA_Fulfilment_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>NCSPSA_Management_Approval_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pse__Resource_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Submit_Resource_Request_to_ECAS</name>
        <label>Submit Resource Request to ECAS</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <flowName>ResourceRequest_ALF_SubmitInfoToECAS</flowName>
        <inputAssignments>
            <name>varT_ResourceRequestId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
