TP AR Build/main/default/flows/Project_AfterSave_UpdateResourceRequestProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Resource_Request_with_Project_for_Update</name>
        <label>Add Resource Request with Project for Update</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varR_ResourceRequestUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_in_Resource_Request_from_Oppty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Resource_Request_from_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_for_Resource_Request_from_Oppty</name>
        <label>Assign Project for Resource Request from Oppty</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_in_Resource_Request_from_Oppty.pse__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Resource_Request_with_Project_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Resource_Request</name>
        <label>Count Resource Request</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varN_CountResourceRequest</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varR_ResourceRequestList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Resource_Request_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Resource_Request_Count</name>
        <label>Check Resource Request Count</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Resource Request</defaultConnectorLabel>
        <rules>
            <name>With_Resource_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_CountResourceRequest</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_in_Resource_Request_from_Oppty</targetReference>
            </connector>
            <label>With Resource Request</label>
        </rules>
    </decisions>
    <description>- Check Resource Request with no Project from Oppty
- Update the Resource Request using the current Project</description>
    <environments>Default</environments>
    <formulas>
        <name>form_CountResourceRequest</name>
        <dataType>Number</dataType>
        <expression>1+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Project_AfterSave_UpdateResourceRequestProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project_AfterSave_UpdateResourceRequestProject</label>
    <loops>
        <name>Loop_in_Resource_Request_from_Oppty</name>
        <label>Loop in Resource Request from Oppty</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>varR_ResourceRequestList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_for_Resource_Request_from_Oppty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Resource_Request_with_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Resource_Request_from_Oppty</name>
        <label>Get Resource Request from Oppty</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Resource_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Resource_Request__c</object>
        <outputReference>varR_ResourceRequestList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Resource_Request_with_Project</name>
        <label>Update Resource Request with Project</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>varR_ResourceRequestUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resource_Request_from_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Parent_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varN_CountResourceRequest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_ResourceRequestList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
    <variables>
        <name>varR_ResourceRequestUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
</Flow>
